.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  text-align: center;
  padding: .7rem 0;
  border-top: 1px solid #e9ecef;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}
