:root {
  --primary-color: #6755AA;
  --secondary-color: #4ffff3;
  --tertiary-color: #ffb4ca;
  --quaternary-color: #ffcabf;
  --fifth-color: #cac1ff;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}
/* styles/globals.css */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
