.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo {
  cursor: pointer;
}
.menuWrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
  cursor: pointer;
  padding: 1em;
}

.burger span {
  display: block;
  height: 3px;
  background-color: #333;
  transition: all 0.3s linear;
}

.closeMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px; /* Oder eine andere passende Größe */
  z-index: 11;
  color: white;
  margin-top: 0.5em;
  margin-right: 0.2em;
}

.nav {
  display: none;
}

.nav.show {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  z-index: 10;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin: 1rem;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.nav ul li a:hover {
  color: #a6a3a3; /* Ändert die Farbe */
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8); /* Fügt einen leichten Schatten hinzu */
  text-decoration: underline; /* Fügt eine Unterstreichung hinzu */
}

@media (min-width: 768px) {
  .burger {
    display: none; /* Versteckt das Burger-Icon in der Desktop-Ansicht */
  }

  .nav,
  .nav.show {
    all: unset;
    display: flex; /* Zeigt das Menü in einer flexbox Zeile an */
    position: static;
    transform: none;
    background: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
  }

  .nav ul {
    flex-direction: row; /* Stellt die Links nebeneinander */
    justify-content: center; /* Zentriert die Links im Menü */
    align-items: center;
    gap: 2rem; /* Definiert einen Abstand zwischen den Links */
    padding: 0;
    margin: 0;
    display: flex; /* Wichtig, um Flexbox-Eigenschaften anzuwenden */
  }

  .nav ul li a {
    color: #333; /* Farbanpassung für Links in der Desktop-Ansicht */
    text-decoration: none;
  }
}
