.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.nav {
  /* Dein Style für die Navigation */
}

.title {
  font-size: 2rem; /* Große Überschrift */
  margin-top: 2rem;
}

.profileImage {
  margin-top: 2rem; /* Füge etwas Platz um das Bild herum hinzu */
}

.description {
  font-size: 1rem; /* Größe des Absatzes */
  margin-top: 1rem;
  line-height: 1.6; /* Verbessere die Lesbarkeit des Textes */
}

.contactButton {
  background-color: #7c4dff; /* Farbe des Kontaktbuttons */
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem; /* Abgerundete Ecken */
  margin-top: 2rem;
  cursor: pointer; /* Hand-Cursor beim Hover */
  font-size: 1rem;
}

.contactButton:hover {
  background-color: #6a3fe0; /* Dunklere Farbe beim Hover */
}

/* Grundlegender Flexbox-Container für mobile Ansicht */
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert die Kinder vertikal */
  text-align: center; /* Zentriert den Text */
}

/* Anpassung für größere Bildschirme */
@media (min-width: 768px) {
  .mainContent {
    flex-direction: row; /* Zeilenanordnung für Desktop */
    justify-content: center; /* Zentriert die Kinder horizontal */
    align-items: flex-start; /* Ausrichtung am oberen Rand */
    text-align: left; /* Links ausgerichteter Text */
  }

  .title, .description, .contactButton {
    max-width: 50%; /* Beschränkt die Breite des Textes auf die Hälfte des Containers */
  }

  .profileImageWrapper {
    flex: 1; /* Erlaubt dem Bild, den verfügbaren Platz zu nutzen */
    display: flex;
    justify-content: center; /* Zentriert das Bild im verbleibenden Platz */
    margin-right: 2rem; /* Fügt einen rechten Abstand hinzu */
  }

  .textContent {
    flex: 1; /* Erlaubt dem Text, den verbleibenden Platz zu nutzen */
  }
}
