.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 6em;
  height: 100vh;
}

.mainContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.svgContainer {
  position: absolute;
  top: -.2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.svg1 {
  margin-left: 4em;
  height: 67%;
}

.svg2 {
  height: 73%;
}

.profileImageWrapper {
  position: relative;
  justify-content: flex-end;
  width: 70%;
  margin-left: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}


.title {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.textContent {
  order: 1;
  flex: 1;
  text-align: left;
}

.description {
  font-size: 1rem; /* Größe des Absatzes */
  margin-top: 1rem;
  line-height: 1.6; /* Verbessere die Lesbarkeit des Textes */
}

.contactButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem; /* Abgerundete Ecken */
  margin-top: 2rem;
  cursor: pointer; /* Hand-Cursor beim Hover */
  font-size: 1rem;
}

.contactButton:hover {
  background-color: #6a3fe0; /* Dunklere Farbe beim Hover */
}

/* Grundlegender Flexbox-Container für mobile Ansicht */
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert die Kinder vertikal */
  text-align: center; /* Zentriert den Text */
}

/* Anpassung für größere Bildschirme */
@media (min-width: 768px) {
  .mainContent {
    flex-direction: row;
    justify-content: center; /* Zentriert die Elemente horizontal */
    align-items: flex-start; /* Stellt sicher, dass die Elemente am oberen Rand ausgerichtet sind */
  }

  .textContent {
    margin-right: 20px; /* Fügt einen Abstand zum Bild hinzu */

    max-width: 50%; /* Optional: Begrenzt die Breite des Textblocks */
  }

  .profileImageWrapper {
    order: 2;
    flex: 1; /* Gibt dem Bildcontainer Flexibilität, sich auszudehnen */
    margin-left: 20px; /* Hält den Abstand zum Text */
    /* Stellt sicher, dass das Bild zentriert in seinem Flex-Container ist */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
