.container {
  min-height: 100vh;
  width: 95vw;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 4rem;
}

.project {
  width: 100%;
  margin-bottom: 2rem;
}

.projectLink {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.hoverImage {
  transition: transform 0.3s ease-in-out;
}

.hoverImage:hover {
  transform: scale(1.01);
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .project {
    width: 100%;
  }
}
